body{
    background-color: #efdbff
}
.candidate{
    /* Q2 - 1 change background color of element to dark
    and text light */
    background-color: darkgrey;
    color: white; 
}
#profile{
    /* Q2-4 change the size of the image*/
    width: 200px;
    height: 200px;
}
